body {
  margin: 0;
  padding: 20px;
  font-family: "Graphik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f0e9;
  color: #26323c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg,
line,
polygon,
g {
  paint-order: stroke;
}

h2 {
  font-size: 18px;
}
