body {
  margin: 0;
  padding: 80px;
  font-family: Minipax, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg,
line,
polygon,
g {
  paint-order: stroke;
}
